main {
    background: url(https://s.poembook.ru/theme/51/f3/ce/db4348ed385ea527626910720eeaee8887f64b0c.jpeg);
    color: #ffffff;
}

.item {
    margin-right: 11px;
}

.nav-link:hover {
    color: #008cff;
}

.navbar {
    min-width: 1280px;
    font-size: 30px;
}

.navbar-nav {
    margin-left: 100px;
}

.navbar-brand {
    font-size: 50px;   
}

.container-xxl {
    min-width: 100%;
}

.text {
    font-size: 25px;
}

footer{
    background: url(maxresdefault.jpg);
    display: flex;
    flex-direction: column;
}

.fab, .fas {
    margin-top: 15px;
}

.fas:hover {
    color: #1f1f1f;
}

.fab:hover {
    color: #1f1f1f;
}

.fa-discord {
    font-size: 35px;
    color: #6586fd;
}

.fa-google-plus-g{
    font-size: 35px;
    color: #ffd700;
}

.fa-at {
    font-size: 35px;
    color: #42aaff;
}

.fa-telegram {
    font-size: 35px;
    color: #018bfc;
}

.fa-vk{
    font-size: 35px;
    color: #007bff;
}

.fa-phone {
    font-size: 35px;
    color: #00ffdd;
}

