* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: blueviolet;
}

.header {
  background-color: #445162;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px;
  max-width: 1280px;
  margin: 0 auto;
}

.header-title {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 50px;
}

.header-list {
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.header-img {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.about {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px;
  max-width: 1280px;
  margin: 0 auto;
}

.about-title {  
  color: #445161;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 50px;
}

.about-text {
  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.about-img {
  width: 20%;
}

.dignity {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 24px;
  font-weight: 400;
  padding: 50px;
  max-width: 1280px;
  margin: 0 auto;
}

.dignity-title {
  font-size: 30px;
  line-height: 36px;
  color: #445161;
  text-align: center;
  margin-right: 0 auto;
}

.dignity-list-item {
  font-size: 16px;
  color: #333333;
  display: flex;
  flex-direction: row;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  display: block;
  min-height: 40px;
  padding-left: 50px;
  cursor: pointer;
  background-color: #fff;
  outline: none;
}

.dignity-list-item:before {
  content: '\002B';
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 40px;
  font-weight: 700;
  background-color: green;
  color: #fff;
}

details[open] > .dignity-list-item:before {
  content: 	'\2013';
  line-height: 33px
}

.dignity-list-item::-webkit-details-marker {
  display: none;
}

.dignity-list {
  margin: 0 0 0 40px;
  background-color: #fff;
}

.screenshoots-img {
  width: 20%;
}

.reviews-avatar {
  width: 20%;
}

