* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.header {
  background-color: #445161;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px;
  max-width: 1280px;
  margin: 0 auto;
}

.header-title {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 50px;
}

.header-list {
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
}

.header-img {
  width: 30%;
}