  
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eShop</title>
    <link rel="stylesheet" href="../dist/css/stylevue.css">
    <script defer src="vue.min.js"></script>
    <script defer src="script.js"></script>
</head>
<body>
    <div id="app">
        <header>
            <div class="container">
                <div class="search">
                    <input type="search" v-on:keydown.enter="filterGoods()" v-model="searchLine" placeholder="Type and press enter">
                    <!--<button v-on:click="filterGoods()">Поиск</button>-->
                </div>
                <button class="cart-button" v-bind:class="{ activebutton: isVisibleCart }" v-on:click="viewCart()">Корзина<span>{{totalPriceCoin}}</span></button>
            </div>
        </header>
        <main class="container">
            <section class="goods-list">
                <h2>Товары в продаже</h2>
                <template v-for="good in filteredGoods">
                <div class="goods-item">
                    <img :src="good.img" :alt="good.title">
                    <h3>{{good.title}}</h3>
                    <p>{{good.price}}</p>
                    <button :id="good.id" v-on:click="addBasket(event)">Добавить</button>
                </div>
                </template>

                <template v-if="filteredGoods.length == 0">
                    <h3 class="goods-null">Нет данных / Товары не найдены</h3>
                </template>
            </section>
            <aside class="basket-list" v-bind:class="{ active: isVisibleCart }">
                <h2>Корзина</h2>
                <div class="basket-item" v-for="good in basketGoods">
                    <img :src="good.img" :alt="good.title">
                    <button :id="good.id" v-on:click="deleteItem(event)">&times;</button>
                    <div class="basket-item-info">
                        <h3>{{good.title}}</h3>
                        <p>{{good.price}}</p>
                    </div>
                </div>
                <small class="totalCart">{{totalPriceMessage}}</small>
            </aside>
        </main>
    </div>
</body>
</html>